{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="container m-3">
    <div class="button">
        <button type="button" class="btn btn-info">Notification </button>

    </div>

<div class="form-group">
  <label for="comment">Notification:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
 <div class="button">
        <button type="button" class="btn btn-info">Send to user</button>

    </div>

		</div>




{% endblock %}

<!-- Specific Page JS goes HERE  -->
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}