{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="mt-5 text-info">Dashboard</h2>
        
        <div class="row mt-3">
        	<div class="col-sm-6">
        		<div class="card border border-primary">
        			<div class="card-body">
        				<h5 class="card-title">Products</h5>
        				<p class="card-text">Go to products section for more info.</p>
        				<a href="#" class="" title=""><i class="fas fa-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-sm-6">
        		<div class="card border border-primary">
        			<div class="card-body">
		        		<h5 class="card-title">Orders</h5>
		        		<p class="card-text">Go to orders section for more info.</p>
		        		<a href="#" class="" title=""><i class="fas fa-arrow-right"></i></a>
		        	</div>
		        </div>
        	</div>
        </div>

        <div class="row">
        	<div class="col-sm-6">
        		<div class="card border border-primary">
        			<div class="card-body">
        				<h5 class="card-title">Seller</h5>
        				<p class="card-text">Go to seller section for more info.</p>
        				<a href="#" class="" title=""><i class="fas fa-arrow-right"></i></a>
        			</div>
        		</div>
        	</div>
        	<div class="col-sm-6">
        		<div class="card border border-info">
        			<div class="card-body">
		        		<h5 class="card-title">Buyer</h5>
		        		<p class="card-text">Go to buyer section for more info.</p>
		        		<a href="#" class="" title=""><i class="fas fa-arrow-right"></i></a>
		        	</div>
		        </div>
        	</div>
        </div>
    </div>

{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}