{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>Dashboard</h1>
        <div class="sections">
            <button class="btn btn-info btn-sm p-3" type="button">Product Section</button>
            <button class="btn btn-info btn-lg p-3" type="button">Order Section</button>
            <button class="btn btn-info btn-lg p-3" type="button">Sellers</button>
            <button class="btn btn-info btn-lg p-3" type="button">Buyers</button>
        </div>
    </div>
    


{% endblock %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock %}